# build
dist/
.astro/

# dependencies
node_modules/

# env
.env
.env.production

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# python
__pycache__/
*.pyc

# logs
npm-debug.log*

# OS
.DS_Store
